<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp_コピペ_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp_コピペ_.Properties.Settings>
            <setting name="Title1" serializeAs="String">
                <value />
            </setting>
            <setting name="Title2" serializeAs="String">
                <value />
            </setting>
            <setting name="Title3" serializeAs="String">
                <value />
            </setting>
            <setting name="Title4" serializeAs="String">
                <value />
            </setting>
            <setting name="Title5" serializeAs="String">
                <value />
            </setting>
            <setting name="Title6" serializeAs="String">
                <value />
            </setting>
            <setting name="Title7" serializeAs="String">
                <value />
            </setting>
            <setting name="Title8" serializeAs="String">
                <value />
            </setting>
            <setting name="Title9" serializeAs="String">
                <value />
            </setting>
            <setting name="Title10" serializeAs="String">
                <value />
            </setting>
            <setting name="Title11" serializeAs="String">
                <value />
            </setting>
            <setting name="Title12" serializeAs="String">
                <value />
            </setting>
            <setting name="Title13" serializeAs="String">
                <value />
            </setting>
            <setting name="Title14" serializeAs="String">
                <value />
            </setting>
            <setting name="Title15" serializeAs="String">
                <value />
            </setting>
            <setting name="Title16" serializeAs="String">
                <value />
            </setting>
            <setting name="Title17" serializeAs="String">
                <value />
            </setting>
            <setting name="Title18" serializeAs="String">
                <value />
            </setting>
            <setting name="Title19" serializeAs="String">
                <value />
            </setting>
            <setting name="Title20" serializeAs="String">
                <value />
            </setting>
            <setting name="Title21" serializeAs="String">
                <value />
            </setting>
            <setting name="Title22" serializeAs="String">
                <value />
            </setting>
            <setting name="Title23" serializeAs="String">
                <value />
            </setting>
            <setting name="Title24" serializeAs="String">
                <value />
            </setting>
            <setting name="Title25" serializeAs="String">
                <value />
            </setting>
            <setting name="Title26" serializeAs="String">
                <value />
            </setting>
            <setting name="Title27" serializeAs="String">
                <value />
            </setting>
            <setting name="Title28" serializeAs="String">
                <value />
            </setting>
            <setting name="Title29" serializeAs="String">
                <value />
            </setting>
            <setting name="Title30" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents1" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents2" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents3" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents4" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents5" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents6" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents7" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents8" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents9" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents10" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents11" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents12" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents13" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents14" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents15" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents16" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents17" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents18" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents19" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents20" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents21" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents22" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents23" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents24" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents25" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents26" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents27" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents28" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents29" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents30" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabName1" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName2" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName3" serializeAs="String">
                <value />
            </setting>
            <setting name="Title31" serializeAs="String">
                <value />
            </setting>
            <setting name="Title32" serializeAs="String">
                <value />
            </setting>
            <setting name="Title33" serializeAs="String">
                <value />
            </setting>
            <setting name="Title34" serializeAs="String">
                <value />
            </setting>
            <setting name="Title35" serializeAs="String">
                <value />
            </setting>
            <setting name="Title36" serializeAs="String">
                <value />
            </setting>
            <setting name="Title37" serializeAs="String">
                <value />
            </setting>
            <setting name="Title38" serializeAs="String">
                <value />
            </setting>
            <setting name="Title39" serializeAs="String">
                <value />
            </setting>
            <setting name="Title40" serializeAs="String">
                <value />
            </setting>
            <setting name="Title41" serializeAs="String">
                <value />
            </setting>
            <setting name="Title42" serializeAs="String">
                <value />
            </setting>
            <setting name="Title43" serializeAs="String">
                <value />
            </setting>
            <setting name="Title44" serializeAs="String">
                <value />
            </setting>
            <setting name="Title45" serializeAs="String">
                <value />
            </setting>
            <setting name="Title46" serializeAs="String">
                <value />
            </setting>
            <setting name="Title47" serializeAs="String">
                <value />
            </setting>
            <setting name="Title48" serializeAs="String">
                <value />
            </setting>
            <setting name="Title49" serializeAs="String">
                <value />
            </setting>
            <setting name="Title50" serializeAs="String">
                <value />
            </setting>
            <setting name="Title51" serializeAs="String">
                <value />
            </setting>
            <setting name="Title52" serializeAs="String">
                <value />
            </setting>
            <setting name="Title53" serializeAs="String">
                <value />
            </setting>
            <setting name="Title54" serializeAs="String">
                <value />
            </setting>
            <setting name="Title55" serializeAs="String">
                <value />
            </setting>
            <setting name="Title56" serializeAs="String">
                <value />
            </setting>
            <setting name="Title57" serializeAs="String">
                <value />
            </setting>
            <setting name="Title58" serializeAs="String">
                <value />
            </setting>
            <setting name="Title59" serializeAs="String">
                <value />
            </setting>
            <setting name="Title60" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents31" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents32" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents33" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents34" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents35" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents36" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents37" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents38" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents39" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents40" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents41" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents42" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents43" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents44" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents45" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents46" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents47" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents48" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents49" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents50" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents51" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents52" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents53" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents54" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents55" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents56" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents57" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents58" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents59" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents60" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName4" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName5" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp_コピペ_.Properties.Settings>
    </userSettings>
</configuration>